html, body, #root, .App {
  min-height: 100vh;
}

.footer {
  position: sticky; /* Sticky with top pushes the footer down */
  top: 100%;
  height: 60px; /* Footer has a fixed height */
  line-height: 60px; /* Vertically center the footer text */
  background-color: #add5fa;
}



